NEXT_PUBLIC_ANON_AADHAAR_CONTRACT_ADDRESS=6bE8Cec7a06BA19c39ef328e8c8940cEfeF7E281
NEXT_PUBLIC_VOTE_CONTRACT_ADDRESS_PROD=5Bed00294D031F5EE11358dD4eC55452d40F77Af
NEXT_PUBLIC_VOTE_CONTRACT_ADDRESS_TEST=4a78D2C4CC758Ae9B441bA18448A902FFA523BD2
# WalletConnect API key
NEXT_PUBLIC_PROJECT_ID=
# RPC URL
NEXT_PUBLIC_RPC_URL=
# Your wallet private key, used only in deployin contracts
PRIVATE_KEY=
